{% extends 'base.html.twig' %}

{% block title %}SNEAKERS LIFE{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center myTitle text-white"> SNEAKERS LIFE</h1>
        <p class="text-center text-white intro">
            SOYEZ AU COURANT DES DERNIÈRES SORTIES SNEAKERS SUR SNEAKERS LIFE
        </p>
        <div class="d-flex justify-content-center">
            <img class="img-fluid sneakersGif" src='{{asset('build/images/jordan-nike.gif')}}'/>
        </div>
    </div>
{% endblock %}

