{% extends 'base.html.twig' %}

{% block title %}SNEAKERS LIFE{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center myTitle text-white"> SNEAKERS LIFE</h1>
    <p class="d-flex justify-content-center text-white intro">
        SOYEZ AU COURANT DES DERNIÈRES SORTIES SNEAKERS SUR SNEAKERS LIFE
    </p>
    <div class="d-flex justify-content-center">
        <img class="sneakersGif" src="images/jordan-nike.gif"/>
    </div>
{% endblock %}
