{% extends 'base.html.twig' %}

{% block title %}Les actualités sneakers
{% endblock %}

{% block body %}
	<div class="bg-black pt-5" style="min-height: 100vh;background-color: black;">
		<h1 class="text-white text-center myTitle mb-5">
			Les nouveautés sneakers
		</h1>

		{% if sneakers is defined and sneakers|length %}
			<div class="row row-cols-1 row-cols-md-4 g-4 px-3 m-4">
				{% for sneaker in sneakers %}
					<div class="col">
						<div class="card h-100">
							<img class="h-50 border-2" src="{{ asset('build/images/' ~ sneaker.images) }}">
							<div class="card-body p-3 border rounded-bottom border-4 gap-2 flex-column flex-md-row justify-content-md-between">
								<h2 class="card-title fs-4">{{ sneaker.name }}</h2>
								<div class="d-flex flex-row">
									<a class="text-black btn btn-success p-4 m-2" href="{{ path('app_sneakers_show', {'id': sneaker.id}) }}">Voir l'article</a>
									<a class="btn btn-success text-black p-4 btn-cop m-2">Cop</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p class="text-white text-center">Aucune chaussure trouvée</p>
		{% endif %}
	</div>
{% endblock %}
