{% extends 'base.html.twig' %}

{% block body %}

    <div class="bg-black" style="min-height: 100vh; background-color: black;">
        <div>

            <h1 class="text-center text-white pt-5">{{ sneaker.name }}</h1>
            <div class="row row-cols-1 row-cols-md-4 g-4 px-3 m-4">
                <img src="{{ sneaker.images }}">

                    <div class="col">
                    <p class="text-white ms-5">{{ sneaker.gender }}</p>
                    </div>
                    <div class="col">
                    <p class="text-white ms-5">{{ sneaker.style }}</p>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}