@import "~bootstrap/scss/bootstrap";

body {
background-color:  black;
}
.footer_blocker {
    min-height: 80vh;
}
.myTitle {
    margin-top: 180px;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
}

.intro {
    margin-top: 100px;
    font-size: 20px;
}

.sneakersGif {
    margin-bottom: 50px;
}

.card-img-top {
    width: 1px;
}
.container {
    background-color: black;
}

.bg-black {
    background: black;
}